{% extends "base.html" %}

{% block user_messages %}
    {% if form.errors.items|length %}
        {% with 'Please correct the errors below.' as error_message %}
            {{ block.super }}
        {% endwith %}
    {% else %}
        {% with 'Please correct the error below.' as error_message %}
            {{ block.super }}
        {% endwith %}
    {% endif %}
{% endblock %}

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

{% block content %}
    <form action="{{ app_path }}" method="post" id="login-form">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />

        {{ form }}
        
        <a href="{% url password_reset %}">Forgot password?</a>
        <button type="submit">Login</button>
    </form>
{% endblock %}

{% block forejs %}
    <script type="text/javascript">
        document.getElementById('id_username').focus();
    </script>
{% endblock %}

