{% extends "registration/base_anonymous.html" %}
{% load bootstrap %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <h1>Password reset</h1>
    
    <div class="well">
        <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
    
        <form action="./" method="post" class="js_active_form">
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="row">
                <div class="span2">
                    <a href="{% url login %}">Remember password?</a>
                </div>
                <div class="span1">
                    <button class="btn btn-primary pull-right" type="submit">Reset</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
