{% extends "registration/base_anonymous.html" %}

{% block title %}Password reset complete{% endblock %}

{% block user_messages %}
    {% if not validlink %}
        <!-- Displays user message in the page top -->
        {% with 'Password reset complete' as success_message %}
            {{ block.super }}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Password reset complete</h1>
    <p>Your password has been set.  You may go ahead and <a href="{% url login %}">log in</a> now.</p>
{% endblock %}
