{% extends "base.html" %}
{% load bootstrap %}

{% block tabs %}{% endblock %}

{% block title %}Password change{% endblock %}

{% block content %}
    <h1>Password change</h1>

    <div class="well">
        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
        <form action="./" method="post" class="js_active_form">
            {% csrf_token %}

            {{ form|bootstrap }}

            <button class="btn btn-primary" type="submit">Change my password</button>
        </form>
    </div>
{% endblock %}
