{% extends "registration/base_anonymous.html" %}
{% load bootstrap %}

{% block title %}Password reset{% endblock %}

{% block user_messages %}
    {% if not validlink %}
        <!-- Displays user message in the page top -->
        {% with 'Password reset unsuccessful' as error_message %}
            {{ block.super }}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if validlink %}
        <h1>Enter new password</h1>

        <div class="well">
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

            <form action="./" method="post" class="js_active_form">
                {% csrf_token %}
                {{ form|bootstrap }}
                <div class="control-group">
                    <button class="btn btn-primary" type="submit">Change my password</button>
                </div>
            </form>
        </div>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    {% endif %}
{% endblock %}
