{% spaceless %}
    {# typical button/link set for metadata forms #}
    <hr/>
    <div class="row">
        <div class="span4">
            {% if previous_off %}
                &nbsp;
            {% else %}
                <button type="submit" class="btn" name="previous">&larr; Previous</button>
            {% endif %}
        </div>
        <div class="span4">
            {% if reset_off %}
                &nbsp;
            {% else %}
                <a class="btn" href="./">Reset changes</a>
            {% endif %}
        </div>
        <div class="span4">
            {% if finish %}
                <button type="submit" class="btn btn-primary" name="finish">Finish</button>
            {% else %}
                {% if next_off %}
                    &nbsp;
                {% else %}
                    <button type="submit" class="btn btn-primary" name="next">Next &rarr;</button>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endspaceless %}
