{% spaceless %}
    {# typical button/link set for metadata forms #}
    <div class="btn-toolbar">
        <div class="btn-group">
            {% if not previous_off %}
                <button type="submit" class="btn" name="previous"><i class="icon-arrow-left icon-white"></i> Previous</button>
            {% endif %}
            {% if not reset_off %}
                <a class="btn btn-inverse" href="./"><i class="icon-refresh icon-white"></i> Reset changes</a>
            {% endif %}
        </div>
        
        <div class="btn-group pull-right">
            {% if finish %}
                <button type="submit" class="btn btn-success" name="finish">Finish</button>
            {% else %}
                {% if not next_off %}
                    <button type="submit" class="btn btn-primary" name="next">Next <i class="icon-arrow-right icon-white"></i></button>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endspaceless %}
