{% extends 'base_form.html' %}
{% load bootstrap %}

{% block title %}{{ form.instance.pk|yesno:'Basic Info,Add,Add' }}{% endblock %}

{% block extra_tabs %}
    {% if form.instance.pk %}
        {% with 1 as step1 %}
            {{ block.super }}
        {% endwith %}
    {% else %}
        <li class="active"><a href="{% url add %}">Add</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <form action="./" method="post" class="edit_form span10 js_active_form">
            {% csrf_token %}
            <fieldset class="form-inline">
                This input is for {{ form.movie_type }}
            </fieldset>
            <fieldset class="form-horizontal">
                <h3>Step 1 of 6 - Basic Info</h3>
                {{ form|bootstrap }}
            </fieldset>

            {% include 'base_form_buttons.html' with previous_off=1 only %} 
        </form>
    </div>
{% endblock %}
