{% extends 'base.html' %}

{% block title %}All items{% endblock %}

{% block content %}{% spaceless %}

    {% if request.REQUEST.search %}
        <h3>Search results for '{{ request.REQUEST.search }}'</h3>
    {% endif %}
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Added</th>
                <th>Added By</th>
                <th>Last Modified</th>
                <th>Modified By</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.created|date:"m/d/Y" }}</td>
                <td>{{ item.created_by }}</td>
                <td>{{ item.modified|date:"m/d/Y" }}</td>
                <td>{{ item.modified_by }}</td>
                {% if item.is_complete %}
                    <td class="green">Complete</td>
                {% else %}
                    <td class="red">Incomplete</td>
                {% endif %}
                <td>
                    <a href="{{ item.get_absolute_url }}">View</a>
                    {% if perms.cinema.change_movie %}&nbsp;|&nbsp;<a href="{% url edit_basic_info item.pk %}">Edit</a>{% endif %}
                    {% if perms.cinema.delete_movie %}&nbsp;|&nbsp;<a href="{% url delete item.pk %}">Delete</a>{% endif %}
                </td>
            </tr>
            {% empty %}
                <tr><td colspan="7">List is empty</td></tr>
            {% endfor %}
        </tbody>
    </table>
    
    <ul class="pager">
        <li class="previous {% if not is_paginated or not page_obj.has_previous %}disabled{% endif %}">
            <a href="./?page={{ page_obj.previous_page_number }}">&larr; Previous</a>
        </li>
        <li>page #{{ page_obj.number }} of {{ paginator.num_pages }}</li>
        <li class="next {% if not is_paginated or not page_obj.has_next %}disabled{% endif %}">
            <a href="./?page={{ page_obj.next_page_number }}">Next &rarr;</a>
        </li>
    </ul>
{% endspaceless %}{% endblock %}
