{% extends 'base.html' %}

{% block title %}All items{% endblock %}

{% block content %}{% spaceless %}

    {% if request.REQUEST.search %}
        <h3>Search results for '{{ request.REQUEST.search }}'</h3>
    {% endif %}
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Added</th>
                <th>Added By</th>
                <th>Last Modified</th>
                <th>Modified By</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.created|date:"m/d/Y" }}</td>
                <td>{{ item.created_by }}</td>
                <td>{{ item.modified|date:"m/d/Y" }}</td>
                <td>{{ item.modified_by }}</td>
                {% if item.is_complete %}
                    <td class="green">Complete</td>
                {% else %}
                    <td class="red">Incomplete</td>
                {% endif %}
                <td><a href="{{ item.get_absolute_url }}">View</a>&nbsp;|&nbsp;<a href="{% url edit_basic_info item.pk %}">Edit</a></td>
            </tr>
            {% empty %}
                <tr><td colspan="7">List is empty</td></tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% if is_paginated %}
        <p>
            Paginated!
            {% if page_obj.has_previous %}
                <a class="btn" href="./?page={{ page_obj.previous_page_number }}"><<</a>
            {% endif %}
            Page {{ page_obj.number }}
            {% if page_obj.has_next %}
                <a class="btn" href="./?page={{ page_obj.next_page_number }}">>></a>
            {% endif %}
        </p>
    {% endif %}
{% endspaceless %}{% endblock %}
