{% extends 'base_form.html' %}
{% load bootstrap widget_tweaks %}

{% block title %}Rating and Genre{% endblock %}

{% block extra_tabs %}
    {% with 1 as step2 %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="row">
        <form action="./" method="post" class="edit_form span10 js_active_form">
            {% csrf_token %}
            {{ rating_formset.management_form }}

            <h3>Step 2 of 6 - Territory, Rating and Genre</h3>
            <fieldset>
                <table class="table inline_formset js_formset">
                    <thead class="control-group">
                        <tr class="controls">
                            <th><label class="control-label">Territory</label></th>
                            <th><label class="control-label">Rating</label></th>
                            <th><label class="control-label">Reason</label></th>
                            <th><label class="control-label">Price Tier</label></th>
                            <th><label class="control-label">Delete</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in rating_formset %}
                            {# <!-- last form is empty all time. We use it as template--> #}
                            <tr class="control-group {{ forloop.last|yesno:'hide js_template_row,' }}">
                                {% include 'inline_form_field.html' with field=form.territory classes='input-small' attrs='' only %}
                                {% include 'inline_form_field.html' with field=form.rating classes='input-small' attrs='' only %}
                                {% include 'inline_form_field.html' with field=form.reason classes='' attrs='' only%}
                                {% include 'inline_form_field.html' with field=form.price_tier classes='input-small' attrs='' only %}
                                <td>
                                    {{ form.DELETE }}

                                    {% for field in form.hidden_fields %}
                                        {{ field }}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>{{ rating_formset.empty_form }}</tr>
                        <tr class="control-group hide js_template_row">
                            {% include 'inline_form_field.html' with field=rating_formset.empty_form.territory classes='input-small' attrs='' only %}
                            {% include 'inline_form_field.html' with field=rating_formset.empty_form.rating classes='input-small' attrs='' only %}
                            {% include 'inline_form_field.html' with field=rating_formset.empty_form.reason classes='' attrs='' only%}
                            {% include 'inline_form_field.html' with field=rating_formset.empty_form.price_tier classes='input-small' attrs='' only %}
                            <td>
                                {% for field in rating_formset.empty_form.hidden_fields %}
                                    {{ field }}
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            
            <hr/>
            
            <fieldset class="control-group">
                <label>Genre(s)</label>
                
            </fieldset>
            
            {% include 'base_form_buttons.html' with previous_off=1 only %} 
        </form>
    </div>
{% endblock %}

{% block endjs %}
    <script type='text/javascript' src="{{ STATIC_URL }}jquery.formset.js"></script>
    
    <script type="text/javascript">
        $('.js_formset tbody tr').formset({
            'addText': '<i class="icon-plus-sign"></i> Add additional territory',
        });
    </script>
{% endblock %}
